NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
ATOMESUS_KEY_1=your_atomesus_key_1
ATOMESUS_KEY_2=your_atomesus_key_2
ATOMESUS_KEY_3=your_atomesus_key_3
ATOMESUS_KEY_4=your_atomesus_key_4
ATOMESUS_KEY_5=your_atomesus_key_5
ATOMESUS_KEY_6=your_atomesus_key_6
ATOMESUS_KEY_7=your_atomesus_key_7
